.idea
/node_modules
/public/hot
/public/storage
# /public/js
/storage/api-docs
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/public/albums
albums/

# HOST FILES
.cpanel/
.well-known/
cgi-bin/

_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
